ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/a86696d6-79f1-457a-83b2-73642ce89d79.vsidx
ConsoleApp1/ConsoleApp1/obj/project.nuget.cache
ConsoleApp1/ConsoleApp1/obj/project.assets.json
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/refint/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ref/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.sourcelink.json
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.GlobalUsings.g.cs
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.genruntimeconfig.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.assets.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.AssemblyInfoInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.AssemblyInfo.cs
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/apphost.exe
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
ConsoleApp1/ConsoleApp1/bin/Debug/net10.0/ConsoleApp1.runtimeconfig.json
ConsoleApp1/ConsoleApp1/bin/Debug/net10.0/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/bin/Debug/net10.0/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/bin/Debug/net10.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/bin/Debug/net10.0/ConsoleApp1.deps.json
ConsoleApp1/ConsoleApp1.slnx
ConsoleApp1/.vs/ConsoleApp1.slnx/v18/DocumentLayout.json
ConsoleApp1/.vs/ConsoleApp1.slnx/v18/DocumentLayout.backup.json
ConsoleApp1/.vs/ConsoleApp1.slnx/v18/.suo
ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/d000f1fd-0891-4ca2-89ab-66848535f643.vsidx
ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/ac8daa52-2637-488d-84a0-1a3d7032127b.vsidx
task_class/task_class/task_class.csproj
ConsoleApp1/task2/obj/task2.csproj.nuget.g.targets
ConsoleApp1/task2/obj/task2.csproj.nuget.g.props
ConsoleApp1/task2/obj/task2.csproj.nuget.dgspec.json
ConsoleApp1/task2/obj/project.nuget.cache
ConsoleApp1/task2/obj/project.assets.json
ConsoleApp1/task2/obj/Debug/net10.0/task2.sourcelink.json
ConsoleApp1/task2/obj/Debug/net10.0/task2.pdb
ConsoleApp1/task2/obj/Debug/net10.0/task2.GlobalUsings.g.cs
ConsoleApp1/task2/obj/Debug/net10.0/task2.genruntimeconfig.cache
ConsoleApp1/task2/obj/Debug/net10.0/task2.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/task2/obj/Debug/net10.0/task2.dll
ConsoleApp1/task2/obj/Debug/net10.0/task2.csproj.FileListAbsolute.txt
ConsoleApp1/task2/obj/Debug/net10.0/task2.csproj.CoreCompileInputs.cache
ConsoleApp1/task2/obj/Debug/net10.0/task2.csproj.BuildWithSkipAnalyzers
ConsoleApp1/task2/obj/Debug/net10.0/task2.assets.cache
ConsoleApp1/task2/obj/Debug/net10.0/task2.AssemblyInfoInputs.cache
ConsoleApp1/task2/obj/Debug/net10.0/task2.AssemblyInfo.cs
ConsoleApp1/task2/obj/Debug/net10.0/refint/task2.dll
ConsoleApp1/task2/obj/Debug/net10.0/ref/task2.dll
ConsoleApp1/task2/obj/Debug/net10.0/apphost.exe
ConsoleApp1/task2/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
ConsoleApp1/task2/bin/Debug/net10.0/task2.runtimeconfig.json
ConsoleApp1/task2/bin/Debug/net10.0/task2.pdb
ConsoleApp1/task2/bin/Debug/net10.0/task2.exe
ConsoleApp1/task2/bin/Debug/net10.0/task2.dll
ConsoleApp1/task2/bin/Debug/net10.0/task2.deps.json
ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.strings.v10.bin
ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.projects.v10.bin
ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.metadata.v10.bin
ConsoleApp1/.vs/ConsoleApp1.slnx/v18/.futdcache.v2
ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/ad5c2571-5bc6-440d-9cd5-889212a8a052.vsidx
ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/38ba1ba2-7d75-458d-925c-cc499ba52ff0.vsidx
ConsoleApp1/.vs/ConsoleApp1.slnx/DesignTimeBuild/.dtbcache.v2
collections_task/collections_task/Program.cs
collections_task/collections_task/obj/project.nuget.cache
collections_task/collections_task/obj/project.assets.json
collections_task/collections_task/obj/Debug/net10.0/collections_task.GlobalUsings.g.cs
collections_task/collections_task/obj/Debug/net10.0/collections_task.GeneratedMSBuildEditorConfig.editorconfig
collections_task/collections_task/obj/Debug/net10.0/collections_task.assets.cache
collections_task/collections_task/obj/Debug/net10.0/collections_task.AssemblyInfoInputs.cache
collections_task/collections_task/obj/Debug/net10.0/collections_task.AssemblyInfo.cs
collections_task/collections_task/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
collections_task/collections_task/obj/collections_task.csproj.nuget.g.targets
collections_task/collections_task/obj/collections_task.csproj.nuget.g.props
collections_task/collections_task/obj/collections_task.csproj.nuget.dgspec.json
collections_task/collections_task/collections_task.csproj
collections_task/collections_task.slnx
collections_task/.vs/collections_task.slnx/v18/DocumentLayout.json
collections_task/.vs/collections_task.slnx/v18/.suo
collections_task/.vs/collections_task.slnx/FileContentIndex/7f69d2c1-c85d-451b-b03c-96744f9e9657.vsidx
ConsoleApp1/task2/task2.csproj
task_class/.vs/ProjectEvaluation/task_class.metadata.v10.bin
task_class/.vs/ProjectEvaluation/task_class.projects.v10.bin
task_class/.vs/ProjectEvaluation/task_class.strings.v10.bin
task_class/.vs/task_class.slnx/FileContentIndex/530f4182-7394-476c-9e60-9e59da9c8a40.vsidx
task_class/.vs/task_class.slnx/FileContentIndex/c72584d5-5e1e-47df-8864-f3b9fa9990d5.vsidx
task_class/.vs/task_class.slnx/v18/.futdcache.v2
task_class/.vs/task_class.slnx/v18/.suo
task_class/.vs/task_class.slnx/v18/DocumentLayout.backup.json
task_class/.vs/task_class.slnx/v18/DocumentLayout.json
task_class/task_class.slnx
task_class/task_class/bin/Debug/net10.0/task_class.deps.json
task_class/task_class/bin/Debug/net10.0/task_class.dll
task_class/task_class/bin/Debug/net10.0/task_class.exe
task_class/task_class/bin/Debug/net10.0/task_class.pdb
task_class/task_class/bin/Debug/net10.0/task_class.runtimeconfig.json
task_class/task_class/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
task_class/task_class/obj/Debug/net10.0/apphost.exe
task_class/task_class/obj/Debug/net10.0/ref/task_class.dll
task_class/task_class/obj/Debug/net10.0/refint/task_class.dll
task_class/task_class/obj/Debug/net10.0/task_class.AssemblyInfo.cs
task_class/task_class/obj/Debug/net10.0/task_class.AssemblyInfoInputs.cache
task_class/task_class/obj/Debug/net10.0/task_class.assets.cache
task_class/task_class/obj/Debug/net10.0/task_class.csproj.CoreCompileInputs.cache
task_class/task_class/obj/Debug/net10.0/task_class.csproj.FileListAbsolute.txt
task_class/task_class/obj/Debug/net10.0/task_class.dll
task_class/task_class/obj/Debug/net10.0/task_class.GeneratedMSBuildEditorConfig.editorconfig
task_class/task_class/obj/Debug/net10.0/task_class.genruntimeconfig.cache
task_class/task_class/obj/Debug/net10.0/task_class.GlobalUsings.g.cs
task_class/task_class/obj/Debug/net10.0/task_class.pdb
task_class/task_class/obj/Debug/net10.0/task_class.sourcelink.json
task_class/task_class/obj/project.assets.json
task_class/task_class/obj/project.nuget.cache
task_class/task_class/obj/task_class.csproj.nuget.dgspec.json
task_class/task_class/obj/task_class.csproj.nuget.g.props
task_class/task_class/obj/task_class.csproj.nuget.g.targets
