ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/a86696d6-79f1-457a-83b2-73642ce89d79.vsidx
ConsoleApp1/ConsoleApp1/obj/project.nuget.cache
ConsoleApp1/ConsoleApp1/obj/project.assets.json
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/refint/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ref/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.sourcelink.json
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.GlobalUsings.g.cs
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.genruntimeconfig.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.assets.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.AssemblyInfoInputs.cache
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/ConsoleApp1.AssemblyInfo.cs
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/apphost.exe
ConsoleApp1/ConsoleApp1/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
ConsoleApp1/ConsoleApp1/bin/Debug/net10.0/ConsoleApp1.runtimeconfig.json
ConsoleApp1/ConsoleApp1/bin/Debug/net10.0/ConsoleApp1.pdb
ConsoleApp1/ConsoleApp1/bin/Debug/net10.0/ConsoleApp1.exe
ConsoleApp1/ConsoleApp1/bin/Debug/net10.0/ConsoleApp1.dll
ConsoleApp1/ConsoleApp1/bin/Debug/net10.0/ConsoleApp1.deps.json
ConsoleApp1/ConsoleApp1.slnx
ConsoleApp1/.vs/ConsoleApp1.slnx/v18/DocumentLayout.json
ConsoleApp1/.vs/ConsoleApp1.slnx/v18/DocumentLayout.backup.json
ConsoleApp1/.vs/ConsoleApp1.slnx/v18/.suo
ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/d000f1fd-0891-4ca2-89ab-66848535f643.vsidx
ConsoleApp1/.vs/ConsoleApp1.slnx/FileContentIndex/ac8daa52-2637-488d-84a0-1a3d7032127b.vsidx
